div.playerBoard {
  width: 500px;
  height: 310px;
}

div.farmBoard {
  border: 1px solid #aaa;
  float: left;
}

div.none {
  width: 5%;
  height: 8%;
  background: #eee;
}

div.fenceV {
  width: 5%;
  height: 22.5%;
  cursor: pointer;
  background: white;
}

div.fenceH {
  width: 14%;
  height: 8%;
  cursor: pointer;
  background: white;
}

div.farm {
  width: 14%;
  height: 22.5%;
  cursor: pointer;
  background: green;
}
