body {
  margin: 0;
  padding: 50px;
  background: #fff;
  color: #224;
  font-family: monospace;
  font-size: 20px;
}

#board {
  border-collapse: collapse;
}

div.case {
  /*float: left;*/
}

div.red {
  border: 3px solid red;
}

div.yellow {
  border: 3px solid yellow;
}

div.purple {
  border: 3px solid purple;
}

div.blue {
  border: 3px solid blue;
}

td {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #555;
  line-height: 1;
  border: 3px solid #aaa;
}

td.action {
  width: 50px;
  height: 50px;
}

td.red {
  background: red;
}

td.yellow {
  background: yellow;
}

td.purple {
  background: purple;
}

td.blue {
  background: blue;
}

td.active {
  cursor: pointer;
}

td.active:hover {
  background: #eee;
}

@media only screen and (max-device-width: 500px) {
  #debug {
    display: none;
  }
}
